---
import Attributes from './workflow/Attributes.astro';
import PlaceholderFrame from './workflow/PlaceholderFrame.astro';
import Prompts from './workflow/Prompts.astro';
import Sections from './workflow/Sections.astro';
import Settings from './workflow/Settings.astro';
import SidebarDesktop from './workflow/SidebarDesktop.astro';
import SidebarDesktopContainer from './workflow/SidebarDesktopContainer.astro';
import SidebarMobile from './workflow/SidebarMobile.astro';
import SidebarMobileContainer from './workflow/SidebarMobileContainer.astro';
import TopBar from './workflow/TopBar.astro';
import WorkflowStats from './workflow/WorkflowStats.astro';

const { gpt } = Astro.props;
const settingsArray = Object.entries(gpt.settings).map(([name, value]) => ({ name, value }));
---

<div x-data="{ open: false, currentComponent: 'settings', activeMenuItem: 'settings' }" @keydown.window.escape="open = false">
  <SidebarMobileContainer>
    <SidebarMobile sections={gpt.sections} @click="currentComponent = $event.detail" />
  </SidebarMobileContainer>

  <SidebarDesktopContainer>
    <SidebarDesktop sections={gpt.sections} @click="currentComponent = $event.detail" />
  </SidebarDesktopContainer>

  <div class="lg:pl-72">
    <TopBar />

    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <div x-show="currentComponent === 'attributes'">
          <Attributes attributes={gpt.attributes} />
        </div>
        <div x-show="currentComponent === 'prompts'">
          <Prompts prompts={gpt.prompts} />
        </div>
        <div x-show="currentComponent === 'settings'">
          <Settings settings={settingsArray} />
          <WorkflowStats workflow={gpt} />
        </div>
        <div x-show="currentComponent === 'sections'">
          <Sections sections={gpt.sections} />
        </div>
        <PlaceholderFrame />
      </div>
    </main>
  </div>
</div>
