---
import type { Attribute, AttributeProps } from '../../types';

const { attributes } = Astro.props as AttributeProps;
---

<div class="max-w-2xl mx-auto bg-white shadow-md rounded-md overflow-hidden my-4 p-6">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Attributes</h2>
  <form>
    <div class="grid grid-cols-3 gap-4">
      <div class="text-sm font-medium text-gray-700">Name</div>
      <div class="text-sm font-medium text-gray-700">Type</div>
      <div class="text-sm font-medium text-gray-700">Is Array</div>
      
      {Object.values(attributes).map((attribute: Attribute) => (
        <>
          <div class="flex items-center" data-key={`${attribute.name}-name`}>
            <input
              type="text"
              id={`${attribute.name}-name`}
              name={`${attribute.name}-name`}
              value={attribute.name}
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-dark focus:border-primary-dark sm:text-sm"
            />
          </div>
          <div class="flex items-center" data-key={`${attribute.name}-type`}>
            <input
              type="text"
              id={`${attribute.name}-type`}
              name={`${attribute.name}-type`}
              value={attribute.type}
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-dark focus:border-primary-dark sm:text-sm"
            />
          </div>
          <div class="flex items-center justify-center" data-key={`${attribute.name}-is_array`}>
            <input
              type="checkbox"
              id={attribute.name}
              name={attribute.name}
              checked={attribute.is_array}
              disabled
              class="h-4 w-4 text-primary-dark focus:ring-primary-dark border-gray-300 rounded"
            />
          </div>
        </>
      ))}
    </div>
  </form>
</div>
