---
import CogIcon from '../icons/CogIcon.astro';
import HomeIcon from '../icons/HomeIcon.astro';
import SectionIcon from '../icons/SectionIcon.astro';
import MenuItem1 from './MenuItem1.astro';
import MenuItem2 from './MenuItem2.astro';

interface Props {
  sections: { name: string }[];
}

const { sections } = Astro.props;
---

<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-primary-light px-6 pb-4">
  <div class="flex h-16 shrink-0 items-center">
    <img src="/images/logo-appy-cast-image.png" alt="AppyDave" class='my-w-60px my-h-60px' />
    <h3 class="text-3xl text-white bebas">Agent <span class="text-primary-dark">Workflow</span></h3>
  </div>
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
      <li>
        <ul role="list" class="-mx-2 space-y-1">
          <MenuItem1 name="Overview" active={true}>
            <HomeIcon />
          </MenuItem1>
          <div class="text-xs font-semibold leading-6 text-primary-dark">Sections</div>
          {sections.map((section, index) => (
            <MenuItem1 name={section.name} key={index} active={false}>
              <SectionIcon />
            </MenuItem1>
          ))}
        </ul>
      </li>
      <li>
        <div class="text-xs font-semibold leading-6 text-primary-dark">Common</div>
        <ul role="list" class="-mx-2 mt-2 space-y-1">
          <MenuItem2 name="Attributes" active={false} letter="A" component="attributes" />
          <MenuItem2 name="Prompts" active={false} letter="P" component="prompts" />
          <MenuItem2 name="Settings" active={false} letter="S" component="settings" />
        </ul>
      </li>
      <li class="mt-auto">
        <a
          href="#"
          class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-primary-dark hover:bg-primary-dark hover:text-primary-light"
        >
        <CogIcon />
        System Settings
        </a>
      </li>
    </ul>
  </nav>
</div>
