---
interface Props {
  step: {
    name: string;
    prompt: string;
    input_attributes: { name: string; isArray: boolean; isRequired: boolean }[];
    output_attributes: { name: string; isArray: boolean; isRequired: boolean }[];
  };
}

const { step } = Astro.props;
---

<div class="bg-white shadow-md rounded-md overflow-hidden my-4 flex flex-col" style="width: 800px;">
    <div class="px-6 py-4 flex-grow">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">{step.name}</h2>
        <div class="mb-4">
            <h3 class="text-sm font-semibold text-gray-700 mb-2">Input Parameters</h3>
            <div class="space-y-2">
              {step.input_attributes.map((attr) => (
                <div key={attr.name}>
                  <label for={attr.title} class="block text-sm font-medium text-gray-700">
                    {attr.title} {attr.isRequired ? "*" : ""}
                  </label>
                  <input
                    type={attr.isArray ? "text[]" : "text"}
                    id={attr.name}
                    name={attr.title}
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-dark focus:border-primary-dark sm:text-sm"
                  />
                </div>
              ))}
            </div>
        </div>
        <div class="mb-4">
            <label for="prompt" class="block text-sm font-medium text-gray-700 mb-2">Prompt</label>
            <textarea id="prompt" name="prompt" rows="4" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-dark focus:border-primary-dark sm:text-sm">{step.prompt}</textarea>
        </div>
    </div>
    <div class="px-6 py-4">
        <h3 class="text-sm font-medium text-gray-700 mb-2">Output Attributes</h3>
        <div class="flex space-x-2">
          {step.output_attributes.map((attr) => (
            <span
              key={attr.name}
              class="inline-block bg-primary-light text-primary-dark text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
            >
              {attr.name}
            </span>
          ))}
        </div>
    </div>
</div>
